name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
    - name: Install dependencies
      run: bundle install
    - name: Run rubocop
      run: bundle exec rubocop

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os-arch: [linux-amd64, darwin-arm64, windows-amd64]
        include:
          - os-arch: windows-amd64
            suffix: .exe
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Ruby
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
      with:
        bundler-cache: true
    - name: build
      run: rake build:${{ matrix.os-arch }}

    - name: Upload test binary (${{ matrix.os-arch }}
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: rf-${{ github.sha }}-${{ matrix.os-arch }}
        path: build/${{ matrix.os-arch }}/bin/rf${{ matrix.suffix }}

  test:
    needs: build
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-14, windows-latest]
        include:
          - runs-on: ubuntu-latest
            os-arch: linux-amd64
          - runs-on: macos-14
            os-arch: darwin-arm64
          - runs-on: windows-latest
            os-arch: windows-amd64
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: rf-${{ github.sha }}-${{ matrix.os-arch }}
        path: build/bin
    - name: Set up Ruby
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
      with:
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Grant execute permission
      if: ${{ ! contains(matrix.runs-on, 'windows') }}
      run: chmod +x build/bin/rf
    - name: Run test
      run: bundle exec rake spec
