name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
      with:
        bundler-cache: true
    - name: Run rubocop
      run: bundle exec rubocop

  build:
    needs: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true
    - name: Set up Ruby
      uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
      with:
        bundler-cache: true
    - uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440 # v2.1.0
      with:
        version: 0.15.2

    - name: Build and archive
      run: rake build:all

    - name: Upload test binary (linux-amd64)
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: rf-${{ github.sha }}-linux-amd64
        path: build/linux-amd64/bin/rf

    - name: Upload test binary (linux-arm64)
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: rf-${{ github.sha }}-linux-arm64
        path: build/linux-arm64/bin/rf

    - name: Upload test binary (darwin-arm64)
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: rf-${{ github.sha }}-darwin-arm64
        path: build/darwin-arm64/bin/rf

    - name: Upload test binary (windows-amd64)
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: rf-${{ github.sha }}-windows-amd64
        path: build/windows-amd64/bin/rf.exe

  test:
    needs: build
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-14, windows-latest]
        include:
          - runs-on: ubuntu-latest
            os-arch: linux-amd64
          - runs-on: macos-14
            os-arch: darwin-arm64
          - runs-on: windows-latest
            os-arch: windows-amd64
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: rf-${{ github.sha }}-${{ matrix.os-arch }}
        path: build/bin
    - name: Set up Ruby
      uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
      with:
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Grant execute permission
      if: ${{ ! contains(matrix.runs-on, 'windows') }}
      run: chmod +x build/bin/rf
    - name: Run test
      run: bundle exec rake spec
