name: Manual Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        required: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: true

    - uses: ./.github/actions/release
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
        dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
        version: ${{ inputs.version }}

    - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      id: app-token
      with:
        app-id: ${{ secrets.WORKFLOW_KICKER_APP_ID }}
        private-key: ${{ secrets.WORKFLOW_KICKER_PRIVATE_KEY }}
        owner: buty4649
        repositories: homebrew-tap
    - name: Run update workflow for homebrew-tap
      run: gh workflow run update.yml --repo buty4649/homebrew-tap --ref main
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
