name: tagpr

on:
  push:
    branches:
      - main

jobs:
  tagpr:
    name: tagpr
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.WORKFLOW_KICKER_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_KICKER_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-issues: read

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - uses: Songmu/tagpr@7191605433b03e11b313dbbc0efb80185170de4b # v1.9.0
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      - uses: ./.github/actions/release
        if: steps.tagpr.outputs.tag != ''
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          version: ${{ steps.tagpr.outputs.tag }}
