name: tagpr

on:
  push:
    branches:
      - main

jobs:
  tagpr:
    name: tagpr
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.WORKFLOW_KICKER_APP_ID }
          private-key: ${{ secrets.WORKFLOW_KICKER_PRIVATE_KEY }}
          owner: buty4649
          repositories:
            rf
            homebrew-tap
          permission-contents: write
          permission-pull-requests: write
          permission-issues: read

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          submodules: true

      - uses: Songmu/tagpr@fa7d23a4aada5ab0d15a76277a7e0b70d107a9c3 # v1.11.1
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      - uses: ./.github/actions/release
        if: steps.tagpr.outputs.tag != ''
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          version: ${{ steps.tagpr.outputs.tag }}
